# Site Settings
locale                   : "en-US"
title                    : "Xingdi (Eric) Yuan"
title_separator          : "-"
name                     : &name "Xingdi (Eric) Yuan"
description              : &description "Senior Researcher at Microsoft Research, Montréal"
url                      : https://xingdi-eric-yuan.github.io
baseurl                  : ""
repository               : "xingdi-eric-yuan/xingdi-eric-yuan.github.io"

# Site Author
author:
  name             : "Xingdi (Eric) Yuan"
  avatar           : "profile.jpg"
  bio              : "Senior Researcher at Microsoft Research, Montréal"
  location         : "Montréal, Canada"
  googlescholar    : "https://scholar.google.com/citations?hl=en&user=dS3LulEAAAAJ"
  email            : "xy504@nyu.edu"
  github           : "xingdi-eric-yuan"
  twitter          : "ericxyuan"

# Reading Files
include:
  - _pages
exclude:
  - .sass-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - node_modules
  - vendor
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
excerpt_separator: "\n\n"

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:title/
timezone: America/Montreal

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-feed

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
